数据示例

In [33]:
import pandas as pd
data = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
index = ['a','b','c']
columns=['col_1','col_2','col_3','col_4','col_5']
df = pd.DataFrame(data=data, index=index, columns=columns)
df

   col_1  col_2  col_3  col_4  col_5
a      1      2      3      4      5
b      6      7      8      9     10
c     11     12     13     14     15

<font color='red'>loc 在index的标签上进行索引,范围包括start和end.</font>

In [46]:
df.loc['b':'c']

   col_1  col_2  col_3  col_4  col_5
b      6      7      8      9     10
c     11     12     13     14     15

<font color='red'>iloc 在index的位置上进行索引,不包括end. </font>

In [48]:
df.iloc[1:3]

   col_1  col_2  col_3  col_4  col_5
b      6      7      8      9     10
c     11     12     13     14     15

<font color='red'>ix 先在index的标签上索引，索引不到就在index的位置上索引(如果index非全整数),不包括end.</font>

In [49]:
df.ix['a':'b']

   col_1  col_2  col_3  col_4  col_5
a      1      2      3      4      5
b      6      7      8      9     10

In [58]:
df.ix[1:3]

   col_1  col_2  col_3  col_4  col_5
a      1      2      3      4      5
b      6      7      8      9     10
c     11     12     13     14     15

In [62]:
df.ix['a':'b','col_1':'col_2']

   col_3  col_4
a      3      4
b      8      9